</main> <!-- Close site-content -->
    <footer class="site-footer-bottom">
        <div class="footer-content">
            <div class="language-toggle-switch">
              <span class="language-label-en">EN</span>
              <input type="checkbox" id="language-switch-checkbox">
              <label for="language-switch-checkbox" class="language-switch-label">
                  <span class="language-switch-inner"></span>
                  <span class="language-switch-thumb"></span>
              </label>
              <span class="language-label-de">DE</span>
            </div>
            <p><%- t('copyright', { year: new Date().getFullYear(), domain: 'www.SpecNazz.IT.com' }) %></p>
        </div>
    </footer>
    <script src="/js/script.js"></script>
</body>
</html>