<%- include('../partials/header', { titleKey: 'aichat_page_title', t: t, i18n: i18n }) %>
<%- include('../partials/sidebar') %>

<section id="aichat-page">
  <%- pageContent %>
</section>

<%- include('../partials/footer') %>