<%- include('../partials/header', { title: 'Page 6' }) %>
<%- include('../partials/sidebar') %>

<h1>Page 6</h1>
<p>This is the content for Page 6.</p>
<p>This page is currently blank.</p>

<%- include('../partials/footer') %>