<%- include('../partials/header', { title: 'Page 2' }) %>
<%- include('../partials/sidebar') %>

<h1>Page 2</h1>
<p>This is the content for Page 2.</p>
<p>This page is currently blank.</p>

<%- include('../partials/footer') %>