<%- include('../partials/header', { title: 'Page 3' }) %>
<%- include('../partials/sidebar') %>

<h1>Page 3</h1>
<p>This is the content for Page 3.</p>
<p>This page is currently blank.</p>

<%- include('../partials/footer') %>