<%- include('../partials/header', { title: 'Page 4' }) %>
<%- include('../partials/sidebar') %>

<h1>Page 4</h1>
<p>This is the content for Page 4.</p>
<p>This page is currently blank.</p>

<%- include('../partials/footer') %>