<%- include('../partials/header', { title: 'Page 9' }) %>
<%- include('../partials/sidebar') %>

<h1>Page 9</h1>
<p>This is the content for Page 9.</p>
<p>This page is currently blank.</p>

<%- include('../partials/footer') %>