<%- include('../partials/header', { title: 'Page 1' }) %>
<%- include('../partials/sidebar') %>

<h1>Page 1</h1>
<p>This is the content for Page 1.</p>
<p>This page is currently blank.</p>

<%- include('../partials/footer') %>