<%- include('../partials/header', { titleKey: 'projects_page_title', t: t, i18n: i18n }) %>
<%- include('../partials/sidebar') %>

<section id="projects-page">
  <%- pageContent %>
</section>

<%- include('../partials/footer') %>